.ourteam_page {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 125vh;
    background-color: grey;
}

.team_member {
    display: flex;
    flex-direction: column;
}

/* Intezar */
.intezar {
    margin: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    background: conic-gradient(red 50deg, yellow 100deg, lime 200deg, aqua, blue, magenta, red);
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 55, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/*  All memebers */
.imgs {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/*  All memebers */

.heading {
    font-size: 25px;
    color: white;
}

/*  All memebers */

.same {
    font-weight: 300;
    font-size: 20px;
    color: rgb(86, 255, 170);

}

/* Saketh */
.Saketh {
    margin: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 55, 1) 35%, rgba(0, 212, 255, 1) 100%); */
    background: linear-gradient(#00449e, #e66465);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Frhaan */
.frhan {
    margin: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    background: linear-gradient(#f09, #3023AE, #0ff);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Deepak */
.deepak {
    margin: 10px;
    color: white;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 55, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Mushab */
.mushab {
    margin: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    background: linear-gradient(#f09, #3023AE, #0ff);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* .intezar_images{
    justify-content: flex-end;
    height: 30%;
} */